@media screen and (max-width: 769px) {
	#wrapper {
		width: 95%;
		height: 95%;		
	}
	#nav {
		display: none;
	}
	#nav-small {
		display: flex;
	}
	.photo {
		width: 100%;
		padding: 20px 0 0 0;
	}
	.photo img {
		width: 60%;
		height: 60%;
	}
	.photo-text {
		width: 100%;
	}	
}
@media screen and (max-width: 550px) {
	.social-small {
		display: block;
		position: absolute;
		right: 0;
		bottom: 10px;		
	}
	#social-large {
		display: none;
		position: absolute;
		right: 0;
		bottom: 50px;
		width: 8%;
		flex-wrap: wrap;
	}
	.skill-back {
		width: 100%;
	}
	.skill-all {
		width: 100%;
	}
	/*.quote-all {
		width: 100%;
	}*/
	/* .card-row {
		width: 100%;
	} */
	.card, .card-row {
		width: 100%;
	}
	/* .card p {
		margin: 0;
	} */
	.web-example {
		width: 80%;
	}
}