@media screen and (max-width: 800px) {
	#wrapper {
		width: 95%;
		height: 95%;		
	}
	#nav {
		display: none;
	}
	#nav-small {
		display: flex;
	}
	.photo-text {
		width: 100%;
	}
	.skill-back {
		width: 45%;
	}
	.form-svg {
		align-items: center;
	}
	/* .about-all {
		flex-direction: column-reverse;
		flex-direction: row-reverse;
	} */
}
@media screen and (max-width: 550px) and (orientation: portrait) {
	#contact {
		flex-direction: column-reverse;
	}
	.form {
		width: 100%;
	}
	.form-svg {
		width: 70%;
	}
	.about {
		font-size: 0.85em;
	}
	.signature {
		font-size: 1.75em;
	}
	.photo {
		width: 65%;
	}
	.men-skill {
		display: none;
	}
	.skill-back {
		width: 40%;
	}
	.donut {
		width: 80%;
	}
	.skill-name {
		font-size: 30px;
	}
	.years span {		
		font-size: 1.5em;		
		margin: 2px;
	}
	.card {
		width: 100%;
	}
	.card p {
		font-size: 13px;
		margin: 2px;
	}
	.card a {
		font-size: 18px;
		letter-spacing: 2px;
	}
	.name {
		font-size: 24px;
	}
}
