* {
	box-sizing: border-box;
}
body {
    margin: 0;
	background: url('https://cdn.pixabay.com/photo/2016/06/29/09/29/code-1486361_1280.jpg') no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	color: whitesmoke;
	overflow: hidden;
}
#wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    width: 90%;
	height: 90%;
}

/* Navigation */

.nav {
	text-decoration: none;
	cursor: pointer;
	color: aquamarine;
	text-transform: uppercase;
}
.nav:hover {
	border-bottom: 1px solid  #ee6e73;
}
.nav:focus {
	border-bottom: 1px solid  #ee6e73;
}
#nav-small {
	display: none;
}

/* Main content */

/* main, #main-content {
	width: 100%;
} */

/* About*/

.photo {
	width: 30%;
	padding: 20px;
}
.photo img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.photo-text {
	width: 65%;
}
.about {
	border-left: 10px solid  #ee6e73;
	width: 85%;
}
.signature {
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 2em;
	font-weight: 600;
	transform: rotate(-10deg);
	transform-origin: 20% 40%;
	color: #ee6e73;
	margin: 0;
}
#sign {
	width: 100%;
	opacity: 0;
	animation-name: singIn;
	animation-duration: 1.5s;
	animation-delay: 17s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
.social {
	color: aquamarine;
	font-size: x-large;	
}
.social:hover {
	transform: scale(1.5);
}
.social-small {
	display: none;	
	color: aquamarine;
	background: transparent;
	border: none;
	font-size: x-large;
}
@keyframes singIn {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}
	50% {
		opacity: 0.5;
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}	
}

/* Skills*/

.mich {
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 2em;
	font-weight: 600;
	letter-spacing: 3px;
	color: #ee6e73;	
}
.skill-back {
	width: 30%;	
}
.skill-round {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 5px solid grey;	
}
/* #Layer_1 {
	width: 36px;
	fill: aquamarine;
}
.skill-name {
	width: 20%;
	color: aquamarine;
	font-size: 36px;
}
.skills-container {
	width: 80%;
	border: 2px solid aquamarine;
	margin: 10px;
}
.html {
	width: 90%;
}
.css {
	width: 75%;
}
.js {
	width: 60%;
}
.md {
	width: 40%;
}
.bs {
	width: 30%;
}
.wp {
	width: 30%;
}
.react {
	width: 25%;
}
.skills {
	background-color: aquamarine;
	animation: skillIn 3s cubic-bezier(.53,-0.73,.1,1.5) forwards;
	color: #ee6e73;
	font-weight: 900;
}
@keyframes skillIn {
	0% {
		width: 20%;
	}
	100% {
		width: 100%;
	}
}*/
/*.quote-all {
	width: 30%;
}
.quote {
	width: 100%;
}*/

/*.skill-all {
	width: 70%;
} */

/* Reference */

.card-row {
	width: 75%;
}
.card {
	width: 35%;
	border-radius: 10px;
	background: rgb(74, 194, 154, 0.7);  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, rgb(189, 255, 243, 0.7), rgb(74, 194, 154, 0.7));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, rgb(189, 255, 243, 0.7), rgb(74, 194, 154, 0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.name {
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 36px;
	letter-spacing: 1px;	
}
.card a {
	text-decoration: none;
	color: whitesmoke;
	cursor: pointer;
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 3px;
}
.card a:hover {
	color: #ee6e73;
}
/* .card p {
	margin: 5px;
} */
/* Portfolio */
/* .web-example {
	width: 45%;
}
.web-photo {
	position: relative;
}
.web-photo img {
	width: 100%;
	padding-top: 10px;
}
.read-more {
	color: aquamarine;
	position: absolute;
	bottom: 0;
	right: 15%;
}
#hide1, #hide2, #hide3 {
    display: none;
    background: #d1ef8c;
    text-indent: 50px;
    text-align: justify;
    padding: 5px;
    margin: 5px;
    animation: open 2s;
}
@keyframes open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */