@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
body {
    margin: 0;
	background: url('https://cdn.pixabay.com/photo/2016/06/29/09/29/code-1486361_1280.jpg') no-repeat;
	background-size: cover;
	font-family: 'Comfortaa', cursive;
	color: #f5f5f5;
	overflow: hidden;
}
#wrapper {
    background-color: #000000af;
    width: 80%;
	height: 80%;
	border-radius: 25px;	
}

/* Navigation */

.nav {
	text-decoration: none;
	cursor: pointer;
	color: #7fffd4;
	text-transform: uppercase;
}
.nav:hover {
	border-bottom: 1px solid #bd161b;
}
.nav:focus {
	border-bottom: 1px solid #bd161b;
}
.social {
	text-decoration: none;
	cursor: pointer;
	color: #7fffd4;
	font-size: x-large;
}
.social:hover {
	transform: scale(1.5);
}
#nav-small {
	display: none;
}

/* Main content */

/* Contact form */

.form-svg {
	width: 40%;
}
.form-svg svg {
	width: 100%;
	height: auto;
}
.form {
	width: 50%;
}
.form form {
	width: 100%;
}
.form form input {
	margin: 0.75em;
	height: 2.5em;
	border-radius: 1em;
	font-family: 'Comfortaa', cursive;
}
.form form textarea {
	margin: 0.75em;
	height: 5em;
	border-radius: 1em;
	padding: 0.5em;
	font-family: 'Comfortaa', cursive;
}
.form form button {
	margin: 0.75em;
	height: 2.5em;
	background-color: #bd161b;
	color: #f5f5f5;
	border-radius: 1.5em;
	font-family: 'Comfortaa', cursive;
}

/* About*/

.photo-text {
	width: 45%;
}
.about {
	border-left: 10px solid #bd161b;
	width: 90%;
	line-height: 1.6;
	text-align: justify;
}
.signature {
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 2.25em;
	font-weight: 600;
	letter-spacing: 1px;
	transform: rotate(-10deg);
	transform-origin: 20% 40%;
	color:#bd161b;
	margin: 0;
}
#sign {
	width: 100%;
	opacity: 0;
	animation: singIn 1.5s linear 26s forwards;
}
.photo {
	width: 40%;
	padding: 20px;
}
.photo svg {
	width: 100%;
	height: 100%;
}
@keyframes singIn {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}
	50% {
		opacity: 0.5;
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}	
}

/* Skills*/

.mich {
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 2em;
	font-weight: 600;
	letter-spacing: 3px;
	color: #bd161b;
	margin: 5px;
}
.skill-back {
	width: 30%;
	position: relative;	
}
.donut {
	width: 40%;
}
.donut-segment-animation {
	animation: progress 4s cubic-bezier(.53,-0.73,.1,1.5) forwards;	
}
@keyframes progress {
	0% {
	  stroke-dasharray: 10 100;
	}
}
.skill-name {
	position: absolute;
	color: #7fffd4;
	font-size: 36px;
	animation: spinner 3s infinite linear;
}
@keyframes spinner {
    0% {
		transform: rotate3d(1, 1, 1, 0deg);
	}
    100% {
		transform: rotate3d(1, 1, 1, 360deg);
	}
}
.skill-svg {
	width: 55%;
}
.skill-svg svg {
	width: 100%;
}
/* Education */

#education {
	position: relative;
}
.edu-men {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: -1;
}
.timeline {
	height: 70%;
}
.years {
	position: relative;
	width: 25%;
	transition: all 0.5s linear;
}
.years:not(:first-child) {
	border-left-width: 3px;
  	border-left-style: solid;
  	border-image: linear-gradient(to bottom,#bd161b, #00000000) 1 100%;
}
.years:hover {
	width: 50%;
}
.years:hover .overlay{
	height: 100%;
}
.years > p {
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 2.5em;
	font-weight: 600;
	letter-spacing: 2px;
	color: #bd161b;
	margin: 5px;
}
.years:hover > p{
	display: none;
}
.overlay {
	position: absolute;
	bottom: 0;
	background: linear-gradient(to bottom, #7fffd400,#7fffd4d5, #7fffd400);
	width: 100%;
	height: 0;
	transition: all 0.5s linear;
	overflow: hidden;
}
.overlay-text {
	text-align: center;
	color: #bd161b;
}

/* Reference */

.card {
	width: 35%;
	border-radius: 10px;
	background: linear-gradient(-45deg, #7fffd400, #7fffd480, #7fffd400);
    background-size: 400% 400%;
	animation: change 10s ease-in-out infinite;
}
@keyframes change {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.name {
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 36px;
	letter-spacing: 1px;	
}
.card p {
	margin: 4px;
}
.card a {
	text-decoration: none;
	color: #f5f5f5;
	cursor: pointer;
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 3px;
}
.card a:hover {
	color: #bd161b;
}