body {
    margin: 0;
	background: url('https://cdn.pixabay.com/photo/2016/06/29/09/29/code-1486361_1280.jpg') no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	color: #f5f5f5;
	overflow: hidden;
}
#wrapper {
    background-color: #000000af;
    width: 90%;
	height: 90%;
}

/* Navigation */

.nav {
	text-decoration: none;
	cursor: pointer;
	color: #7fffd4;
	text-transform: uppercase;
}
.nav:hover {
	border-bottom: 1px solid #bd161b;
}
.nav:focus {
	border-bottom: 1px solid #bd161b;
}
#nav-small {
	display: none;
}

/* Main content */

/* About*/

.photo {
	width: 30%;
	padding: 20px;
}
.photo img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.photo-text {
	width: 65%;
}
.about {
	border-left: 10px solid #bd161b;
	width: 85%;
}
.signature {
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 2.25em;
	font-weight: 600;
	letter-spacing: 1px;
	transform: rotate(-10deg);
	transform-origin: 20% 40%;
	color:#bd161b;
	margin: 0;
}
#sign {
	width: 100%;
	opacity: 0;
	animation: singIn 1.5s linear 17s forwards;
}
.social {
	color: #7fffd4;
	font-size: x-large;	
}
.social:hover {
	transform: scale(1.5);
}
/* #social-small {
	display: none;	
	color: #7fffd4;
	background: transparent;
	border: none;
	font-size: x-large;
} */
/* .social-small {
	display: none;	
	color: #7fffd4;
	background: transparent;
	border: none;
	font-size: x-large;
} */
@keyframes singIn {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}
	50% {
		opacity: 0.5;
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}	
}

/* Skills*/

.mich {
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 2em;
	font-weight: 600;
	letter-spacing: 3px;
	color: #bd161b;
	margin: 5px;
}
.skill-back {
	width: 30%;
	position: relative;	
}
.donut {
	width: 50%;
}
.donut-segment-animation {
	animation: progress 4s cubic-bezier(.53,-0.73,.1,1.5) forwards;	
}
@keyframes progress {
	0% {
	  stroke-dasharray: 10 100;
	}
}
.skill-name {
	position: absolute;
	color: #7fffd4;
	font-size: 48px;
	animation: spinner 3s infinite linear;
}
@keyframes spinner {
    0% {
		transform: rotate3d(1, 1, 1, 0deg);
	}
    100% {
		transform: rotate3d(1, 1, 1, 360deg);
	}
}

/* Education */

#education {
	position: relative;
}
.edu-men {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: -1;
}
.timeline {
	height: 70%;
}
.years {
	position: relative;
	width: 25%;
	transition: all 0.5s linear;
}
.years:not(:first-child) {
	border-left-width: 3px;
  	border-left-style: solid;
  	border-image: linear-gradient(to bottom,#bd161b, #00000000) 1 100%;
}
.years:hover {
	width: 50%;
}
.years:hover .overlay{
	height: 100%;
}
.years span {
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 2.5em;
	font-weight: 600;
	letter-spacing: 2px;
	color: #bd161b;
	margin: 5px;
}
.years:hover span{
	display: none;
}
.overlay {
	position: absolute;
	bottom: 0;
	background: linear-gradient(to bottom, #7fffd400,#7fffd4d5, #7fffd400);
	width: 100%;
	height: 0;
	transition: all 0.5s linear;
	overflow: hidden;
}
.overlay-text {
	text-align: center;
	color: #bd161b;
}

/* Experience */

.work-left, .work-right, .work-year {
	width: 50%;
	/* height: 25%; */
}
.work-year {
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 2px;
	color: #bd161b;
}
/* .work-left, .work-right {
	border: 0 solid;
	border-bottom-width: 5px;
	border-image: linear-gradient(to right, #bd161b, #bd161b42, #00000000) 1;
} */
.work-left {
	border: 0 solid;
	border-bottom-width: 5px;
	border-left-width: 5px;
	border-image: linear-gradient(to top, #bd161b, #bd161b42, #00000000) 1;
}
.work-right {
	border: 0 solid;
	border-bottom-width: 5px;
	border-right-width: 5px;
	border-image: linear-gradient(to top, #bd161b, #bd161b42, #00000000) 1;	
}
.work-right a, .work-left a {
	text-decoration: none;
	color: #bd161b;
	cursor: pointer;
	font-size: 1.25em;
	font-weight: 900;
	/* margin: 0; */
}

/* Reference */

.card {
	width: 35%;
	border-radius: 10px;
	background: linear-gradient(-45deg, #7fffd4, #54b7cf, #27386d,#bd161b);
    background-size: 150% 150%;
    animation: change 10s ease-in-out infinite;
}
@keyframes change {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.name {
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 36px;
	letter-spacing: 1px;	
}
.card p {
	margin: 4px;
}
.card a {
	text-decoration: none;
	color: #f5f5f5;
	cursor: pointer;
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 3px;
}
.card a:hover {
	color: #bd161b;
}
/* Portfolio */
/* .web-example {
	width: 45%;
}
.web-photo {
	position: relative;
}
.web-photo img {
	width: 100%;
	padding-top: 10px;
}
.read-more {
	color: aquamarine;
	position: absolute;
	bottom: 0;
	right: 15%;
}
#hide1, #hide2, #hide3 {
    display: none;
    background: #d1ef8c;
    text-indent: 50px;
    text-align: justify;
    padding: 5px;
    margin: 5px;
    animation: open 2s;
}
@keyframes open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */